html {
  background: #222;
}

h1 {
  font-size: 36px;
  font-family: 'Fredericka the Great', cursive;
  color: #176117;
  margin: 0;
}

h2 {
  font-size: 24px;
  font-family: 'Fredericka the Great', cursive;
  color: #176117;
  margin: 0;
}

.pctfoot {
  font-size: 20px;
  font-family: helvetica, arial, sans-serif;
  color: #176117;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.image {
  width: 100%;
  margin: auto;
  padding: 6px;
}

.tn {
  text-align: justify;
  display: inline-block;
  padding: 6px;
  margin: auto;
}

@media screen and (max-width: 480px) {

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

.pctfoot {
  font-size: 16px;
}

}
